#ExchangeTable {
    border-collapse: collapse;
}

.headerBorder > td {
    border-bottom: 3px solid black !important;
}

#ExchangeTable > tbody > tr > td {
    border: 1px solid grey;
}

.header > td{
    Margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 1px solid grey;
}

.buy {
    background-color: #ccffcc;
    border: 2px solid green !important;
}

.sell {
    background-color: #fdefef;
    border: 2px solid red !important;
}

.platinum {
    color: Black
}

.gold {
    color: gold
}

.silver {
    color: rgb(117, 117, 117)
}

.copper {
    color: #B87333
}

.currency * {
    font-weight: bolder;
}